:root {
    --darkViolet: rgb(42, 32, 78);
    --dark: rgb(66, 31, 194);
    --yellowOrange: rgb(255, 176, 7);
}

html,
body {
    color: var(--darkViolet);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.bold {
    font-weight: 600;
}

.rounded {
    border-radius: 50%;
}

.minifiedPic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: 100% 10%;
    border: 2px solid white;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px rgba(102, 51, 153, 0.671);
}

header #textLogo,
#profil {
    height: 40px;
}

header #textLogo {
    display: flex;
    align-content: center;
    width: 25%;
    overflow: show;
    /* border: 2px solid green; */
}

header #textLogo * {
    margin: 0;
    font-size: 28px;
    align-self: center;
}

header #profil {
    width: 75%;
    display: flex;
    flex-direction: column;
}

#minifiedProfil,
#hiddenOnSmallProfil {
    align-self: flex-end;
}

#minifiedProfil {
    /* display: none; */
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
}

#minifiedProfil * {
    vertical-align: middle;
}

#minifiedProfil .name {
    /* display: none; */
    margin-right: 5px;
    color: var(--darkViolet);
    text-decoration: underline;
    text-decoration-color: var(--darkViolet);
    -moz-text-decoration-color: var(--darkViolet);
}

#minifiedProfil img {
    border-width: 4px;
    border-style: double;
    border-color: var(--darkViolet);
}

#hiddenOnSmallProfil {
    display: flex;
    display: none;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--dark);
    color: white;
    align-self: flex-end;
    margin-top: 10px;
    width: 50%;
    min-width: 200px;
    max-width: 290px;
    padding-bottom: 30px;
    box-shadow: 3px 3px 15px rgba(102, 51, 153, 0.671);
}

#hiddenOnSmallProfil .profilPic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 100% 10%;
}

#hiddenOnSmallProfil #edit {
    margin: 5px auto 0 auto;
    color: rgb(207, 207, 207);
    font-size: smaller;
}

#hiddenOnSmallProfil .name {
    font-size: 24px;
    margin-bottom: 0;
}

#hiddenOnSmallProfil .underName {
    margin: 8px auto 0 auto;
}

#hiddenOnSmallProfil #mail {
    color: rgb(207, 207, 207);
}

#hiddenOnSmallProfil::before {
    content: "";
    align-self: center;
    display: block;
    width: 0;
    height: 0;
    position: relative;
    bottom: 14px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--dark);
}

/* -----------MAIN----------- */
#main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#left {
    padding: 10px;
}

#left .left_cards {
    display: flex;
}

#classification {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.classe {
    padding: 11px 2vw;
    border-radius: 8px;
}

.classe:nth-of-type(2) {
    color: ghostwhite;
    background-color: var(--yellowOrange);
    box-shadow: 2px 2px 3px rgb(235, 156, 0);
    margin: auto 10px;
}

#illustration {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#illustrImgContainer {
    width: 100%;
    align-self: center;
}

#illustrImgContainer img {
    width: 100%;
}

#right .right_cards .riht_card .threeimg {
    display: flex;
    padding: 20px;
}

#right .right_cards .riht_card .threeimg img {
    display: flex;
}

#main #left .left_cards .left_card .left_icon,
#main #right .right_cards .right_card .right_icon {
    height: 50px;
    width: 50px;
}

#main #right .right_cards .right_card {
    display: flex;
}

/* Small devices (portrait tablets and large phones, 440px and up) */
@media only screen and (min-width: 440px) {
    html {
        /* background-color: rgba(255, 0, 0, 0.534); */
    }

    #left {
        /* border: 2px solid cyan; */
    }
    
    #illustration {
        flex-direction: row;
        justify-content: center;
    }

    #illustrImgContainer {
        width: 60%;
        align-self: flex-start;
    }

    #details{
        margin-left: 20px;
    }

    #details h2{
        margin-top: 0;
    }
    
    #right {
        /* border: 2px solid green; */
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        background-color: rgba(0, 255, 98, 0.534);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 600px) {
    html {
        background-color: ghostwhite;
    }
}