:root {
    --darkViolet: rgb(42, 32, 78);
    --dark: rgb(66, 31, 194);
    --yellowOrange: rgb(255, 176, 7);
}

body {
    color: var(--darkViolet);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background: url(../image/waveback.svg) no-repeat;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.bold {
    font-weight: 600;
}

.rounded {
    border-radius: 50%;
}

.minifiedPic {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: 100% 10%;
    border: 2px solid white;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 2px rgba(102, 51, 153, 0.671);
}

header #textLogo,
#profil {
    height: 40px;
}

header #textLogo {
    display: flex;
    align-content: center;
    width: 25%;
    overflow: show;
    /* border: 2px solid green; */
}

header #textLogo * {
    margin: 0;
    font-size: 28px;
    align-self: center;
}

header #profil {
    width: 75%;
}

#minifiedProfil,
#hiddenOnSmallProfil {
    align-self: flex-end;
}

#minifiedProfil {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
}

#minifiedProfil:hover{
    cursor: pointer;
}

#minifiedProfil:hover #hiddenOnSmallProfil{
    display: flex;
}

#minifiedProfil * {
    vertical-align: middle;
}

#minifiedProfil .name {
    margin-right: 5px;
    color: var(--darkViolet);
    text-decoration: underline;
    text-decoration-color: var(--darkViolet);
    -moz-text-decoration-color: var(--darkViolet);
}

#minifiedProfil img {
    width: 33px;
    height: 33px;
    border-width: 4px;
    border-style: double;
    border-color: var(--darkViolet);
}

#hiddenOnSmallProfil {
    /* display: flex; */
    display: none;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--dark);
    color: white;
    align-self: flex-end;
    margin-top: 10px;
    width: 50%;
    min-width: 200px;
    max-width: 290px;
    padding-bottom: 30px;
    box-shadow: 1px 1px 3px rgba(102, 51, 153, 0.671);
}

#hiddenOnSmallProfil .profilPic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 100% 10%;
    border: none;
}

#hiddenOnSmallProfil #edit {
    margin: 5px auto 0 auto;
    font-size: smaller;
    color: var(--darkViolet)
}

#hiddenOnSmallProfil .name {
    font-size: 24px;
    margin-bottom: 0;
    color: white;
    text-decoration: none;
}

#hiddenOnSmallProfil .underName {
    margin: 8px auto 0 auto;
}

#hiddenOnSmallProfil #mail {
    color: white;
}

#hiddenOnSmallProfil::before {
    content: "";
    align-self: center;
    display: block;
    width: 0;
    height: 0;
    position: relative;
    bottom: 14px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--dark);
}

/* -----------MAIN----------- */
#main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* background-color: rgba(255, 255, 255, 0.514); */
}

.transpWhite{
    background-color: rgba(255, 255, 255, 0.699);
}

#left,
#right {
    padding: 10px;
}

#left .left_cards {
    display: flex;
}

#classification {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.classe {
    padding: 11px 2vw;
    border-radius: 8px;
    text-decoration: none;
    color: inherit !important;
}

.classe:nth-of-type(2) {
    border: none;
    color: ghostwhite !important;
    background-color: var(--yellowOrange);
    box-shadow: 2px 2px 3px rgb(235, 156, 0);
    margin: auto 10px;
}

#illustration {
    display: flex;
    flex-direction: column;
    margin: 20px auto 5px auto;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
}

#illustrImgContainer {
    width: 100%;
    align-self: center;
}

#illustrImgContainer img {
    width: 100%;
}

#left #details {
    display: flex;
    flex-direction: column;
}

#left #illustration #details a {
    color: rgb(255, 140, 0);
}

#left #illustration #threeDots {
    order: 1;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#left #text {
    order: 2;
    padding-left: 10px;
}

#left #illustration #threeDots div {
    width: 5px;
    height: 5px;
    background-color: rgb(32, 107, 219);
    margin: 4px;
}

#left #illustration #threeDots .d1 {
    width: 20px;
    border-radius: 10px;
}

#left #illustration #threeDots .d2 {
    border-radius: 50%;
    opacity: 0.5;
}

#left .left_cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

#left .left_cards .left_card {
    margin-bottom: 10px;
    padding: 5px 15px;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#left .left_cards .left_card:hover, .right_card{
    box-shadow: 1px 1px 4px rgba(102, 51, 153, 0.671)
}

#left .left_cards .left_card .left_icon {
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
}

#left .left_cards .left_card a {
    text-decoration: none;
    color: var(--yellowOrange);
}

#right .right_cards .riht_card .threeimg {
    display: flex;
    padding: 20px;
}

#left .left_cards .left_card .left_icon,
#right .right_cards .right_card .right_icon {
    height: 50px;
    width: 50px;
}

#right .right_cards {
    padding: 20px 0;
    position: relative;
    border-radius: 20px;
}

#right .right_cards .right_card {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

#right .right_cards .right_card:hover{
    box-shadow: 0px 0px transparent;
}

#right .right_cards .right_card * {
    align-self: center;
}

#right .right_cards .right_card .threeimg {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#right .right_cards .right_card .description {
    margin: 0;
    padding-left: 50px;

}

#right .right_cards .right_card .threeimg img {
    border: 3px solid ghostwhite;
    margin-left: -16px;
    border-radius: 50%;
}

#right .right_cards .right_card .dots {
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}


#right .right_cards .right_card .dots div {
    height: 5px;
    width: 5px;
    background-color: gray;
    margin-bottom: 2px;
    border-radius: 50%;
}

#right .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#right .foot p {
    text-align: center;
    margin-bottom: 5px;
    color: slategray;
}

#right .foot .icons img {
    height: 20px;
    width: 20px;
}

/* Small devices (portrait tablets and large phones, 550px and up) */
@media only screen and (min-width: 550px) {
    body{
        background-position-y: 50vh;
    }

    #minifiedProfil .name {
        display: inline;
    }

    #classification {
        margin-left: 5%;
        justify-content: flex-start;
    }

    #illustration {
        flex-direction: row;
        justify-content: center;
        box-shadow: 1px 1px 4px rgba(102, 51, 153, 0)
    }

    #illustrImgContainer {
        width: 60%;
        align-self: flex-start;
        margin-left: 5%;
    }


    #details {
        width: 40%;
        margin-left: 20px;
        margin-right: 5%;
    }

    #details h2 {
        margin-top: 0;
    }

    #left #illustration #threeDots {
        order: 2;
        width: 100%;
        padding-bottom: 10px;
        margin-top: auto;
        flex-direction: column;
    }

    #left #illustration #threeDots div{
        align-self: flex-start;
    }

    #left #illustration #threeDots .d1 {
        width: 5px;
        height: 20px;
    }

    #left #illustration #text{
        order: 1;
    }

    #right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .right_cards {
        align-self: center;
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        background-color: rgba(0, 255, 98, 0.534);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}