:root {
    --darkViolet: rgb(42, 32, 78);
    --dark: rgb(62, 31, 139);
    --yellowOrange: rgb(255, 176, 7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--darkViolet);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    overflow: hidden;
}

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100lvh;
}

body {
    overflow: hidden auto;
    position: relative;
}

#landing-container {
    width: 100%;
    height: max-content;
}

.bold {
    font-weight: 600;
}

.rounded {
    border-radius: 50%;
}

.minifiedPic {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: 100% 10%;
    border: 2px solid white;
}

header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* box-shadow: 1px 1px 2px rgba(102, 51, 153, 0.671); */
}

header #textLogo,
#profil {
    height: 40px;
    box-sizing: border-box;
    margin: auto 2%;
}

header #textLogo {
    display: flex;
    align-content: center;
    width: 25%;
    overflow: show;
    /* border: 2px solid green; */
}

header #textLogo * {
    margin: 0;
    font-size: 28px;
    align-self: center;
}

header #profil {
    width: 75%;
}

#minifiedProfil,
#hiddenOnSmallProfil {
    align-self: flex-end;
}

#minifiedProfil {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
}

#minifiedProfil:hover {
    cursor: pointer;
}

#minifiedProfil:hover #hiddenOnSmallProfil {
    display: flex;
}

#minifiedProfil * {
    vertical-align: middle;
}

#minifiedProfil .name {
    margin-right: 5px;
    color: var(--darkViolet);
    text-decoration: underline;
    text-decoration-color: var(--darkViolet);
    -moz-text-decoration-color: var(--darkViolet);
}

#minifiedProfil img {
    width: 33px;
    height: 33px;
    border-width: 4px;
    border-style: double;
    border-color: var(--darkViolet);
}

#hiddenOnSmallProfil {
    /* display: flex; */
    display: none;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--dark);
    color: white;
    align-self: flex-end;
    margin-top: 10px;
    width: 50%;
    min-width: 200px;
    max-width: 290px;
    padding-bottom: 30px;
    box-shadow: 1px 1px 3px rgba(102, 51, 153, 0.671);
}

#hiddenOnSmallProfil .profilPic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 100% 10%;
    border: none;
}

#hiddenOnSmallProfil #edit {
    margin: 5px auto 0 auto;
    font-size: smaller;
    color: rgb(197, 197, 197);
}

#hiddenOnSmallProfil .name {
    font-size: 24px;
    margin-bottom: 0;
    color: white;
    text-decoration: none;
}

#hiddenOnSmallProfil .underName {
    margin: 8px auto 0 auto;
}

#hiddenOnSmallProfil #mail {
    color: white;
}

#hiddenOnSmallProfil::before {
    content: "";
    align-self: center;
    display: block;
    width: 0;
    height: 0;
    position: relative;
    bottom: 14px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--dark);
}

/* -----------MAIN----------- */
#main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.transpWhite {
    background-color: rgba(255, 255, 255, 0.699);
}

#left,
#right {
    padding: 10px;
    height: min-content;
}

#right {
    padding-bottom: 0;
}

#left .left_cards {
    display: flex;
}

#classification {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.classe {
    position: relative;
    bottom: 0;
    padding: 11px 2vw;
    border-radius: 8px;
    text-decoration: none;
    color: inherit !important;
    transition: bottom 250ms ease-in, color 250ms ease-in, background-color 250ms ease-in;
    -o-transition: bottom 250ms ease-in, color 250ms ease-in, background-color 250ms ease-in;
    -moz-transition: bottom 250ms ease-in, color 250ms ease-in, background-color 250ms ease-in;
}

.classe:nth-of-type(2) {
    border: none;
    color: ghostwhite !important;
    background-color: var(--yellowOrange);
    box-shadow: 2px 2px 3px rgb(235, 156, 0);
    margin: auto 10px;
}

.classe:hover {
    bottom: 10px;
    color: rgb(235, 156, 0) !important;
    background-color: white !important;
    box-shadow: 2px 2px 3px rgb(235, 156, 0);
}


#illustration {
    display: flex;
    flex-direction: column;
    margin: 20px auto 5px auto;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
}

#illustrImgContainer {
    width: 100%;
    align-self: center;
}

#illustrImgContainer img {
    width: 100%;
}

#left #details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#left #illustration #details a {
    color: rgb(255, 140, 0);
}

#left #illustration #threeDots {
    order: 1;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#left #text {
    order: 2;
    padding-left: 10px;
    display: flex;
    flex-direction: column;

    gap: 5px;
}

#left #illustration #threeDots div {
    width: 5px;
    height: 5px;
    background-color: rgb(32, 107, 219);
    margin: 4px;
}

#left #illustration #threeDots .d1 {
    width: 20px;
    border-radius: 10px;
}

#left #illustration #threeDots .d2 {
    border-radius: 50%;
    opacity: 0.5;
}

#left .left_cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

#left .left_cards .left_card {
    margin: auto 10px 10px 10px;
    padding: 5px 15px;
    width: 30%;
    min-width: 150px;
    max-width: 160px;
    height: 200px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* flex: 0 1; */
}

#left .left_cards .left_card:hover,
.right_card {
    box-shadow: 2px 2px 6px rgba(102, 51, 153, 0.671)
}

.left_card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#left .left_cards .left_card .left_icon {
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
}

#left .left_cards .left_card a {
    text-decoration: none;
    color: var(--yellowOrange);
}

#right .right_cards .riht_card .threeimg {
    display: flex;
    padding: 20px;
}

#left .left_cards .left_card .left_icon,
#right .right_cards .right_card .right_icon {
    height: 50px;
    width: 50px;
}

#right .right_cards {
    padding: 20px 10px 0 10px;
    position: relative;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#right .right_cards .right_card {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    transition: background-color 500ms ease-in-out;
}

#right .right_cards .right_card:hover,
#right .right_cards .right_card:active {
    background-color: rgb(62, 31, 139);
    box-shadow: 2px 5px 3px rgba(46, 11, 174, 0.5);
    color: white;
}

#right .right_cards .right_card:hover .dots div,
#right .right_cards .right_card:active .dots div {
    background-color: white;
}

#right .right_cards .right_card * {
    align-self: center;
}

#right .right_cards .right_card .threeimg {
    width: 40%;
    display: flex;
    margin-left: auto;
    flex-direction: row;
    justify-content: right;
}

#right .right_cards .right_card .description {
    margin: 0;
    padding-left: 50px;

}

#right .right_cards .right_card .threeimg img {
    border: 3px solid ghostwhite;
    margin-left: -16px;
    border-radius: 50%;
}

#right .right_cards .right_card .dots {
    justify-content: center;
    align-items: center;
    margin-left: auto;
}


#right .right_cards .right_card .dots div {
    height: 5px;
    width: 5px;
    background-color: gray;
    margin-bottom: 2px;
    border-radius: 50%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    position: relative;
    color: white;
}

footer #mobilWave {
    z-index: -1;

    position: absolute;
    bottom: -80%;

    width: 100vw;
    height: auto;
}

footer p {
    text-align: center;
    margin-bottom: 5px;
    color: slategray;
}

footer .icons img {
    height: 20px;
    width: 20px;
    /* border: 2px solid red; */
}

#onlyOnLargeProfil {
    display: none;
}


/* Small devices (portrait tablets and large phones, 550px and up) */
@media only screen and (min-width: 550px) {
    #minifiedProfil .name {
        display: inline;
    }

    header {
        margin-bottom: 50px;
    }

    #classification {
        margin-left: 5%;
        justify-content: center;
    }

    #illustration {
        flex-direction: row;
        justify-content: center;
        box-shadow: 1px 1px 4px rgba(102, 51, 153, 0)
    }

    #illustrImgContainer {
        width: 60%;
        align-self: flex-start;
        margin-left: 5%;
    }


    #details {
        width: 40%;
        margin-left: 20px;
        margin-right: 5%;
    }

    #details h2 {
        margin-top: 0;
    }

    #left #illustration #threeDots {
        order: 2;
        width: 100%;
        padding-bottom: 10px;
        margin-top: auto;
        flex-direction: column;
    }

    #left #illustration #threeDots div {
        align-self: flex-start;
    }

    #left #illustration #threeDots .d1 {
        width: 5px;
        height: 20px;
    }

    #left #illustration #text {
        order: 1;
    }

    #right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .right_cards {
        align-self: center;
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header {
        box-shadow: 0px 0px transparent;
    }

    #main {
        flex-direction: row;
    }

    #left,
    #right {
        width: 50%;
    }

    footer #mobilWave {
        display: none;
    }

    #landing-container {
        background-repeat: no-repeat;
        background-image: url(../image/waveback.svg);
        background-size: cover;
        background-position-y: 45vh;
        background-position-x: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    html,
    body {
        height: 100%;
        min-height: min-content !important;
        position: relative;
    }

    #landing-container {
        background-repeat: no-repeat;
        background-image: url(../image/Wave.svg);
        background-size: contain;
        background-position-y: 0;
        background-position-x: 50%;
    }

    #main {
        padding-right: 30px;
        margin: auto;
    }

    .transpWhite {
        background-color: transparent;
    }

    #minifiedProfil {
        display: none;
    }

    #right {
        position: relative;
        margin-top: -120px;
    }

    #onlyOnLargeProfil {
        display: flex;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: transparent;
        align-self: flex-end;
        margin-top: 10px;
        width: 50%;
        min-width: 200px;
        max-width: 290px;
        padding-bottom: 30px;
    }

    #onlyOnLargeProfil .profilPic {
        margin-top: 10px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: 100% 10%;
        border: none;
    }

    #onlyOnLargeProfil #edit {
        margin: 5px auto 0 auto;
        font-size: smaller;
        color: rgb(81, 57, 168);
    }

    #onlyOnLargeProfil .name {
        font-size: 24px;
        margin-bottom: 0;
        color: var(--darkViolet);
        text-decoration: none;
    }

    #onlyOnLargeProfil .underName {
        margin: 8px auto 0 auto;
    }

    #onlyOnLargeProfil #mail {
        color: slategrey;
    }

    #right .right_cards {
        /* border: 2px solid red; */
        align-self: flex-end !important;
    }

    #right .right_cards .right_card {
        box-shadow: none;
    }

    .left_card {
        width: 30%;
    }

    #right {
        gap: 50px;
    }

    footer {
        width: 80%;
        margin-left: auto;
        padding: 15px;
        flex-direction: row !important;
        margin-top: 10px !important;
    }

    footer .icons {
        margin-left: auto;

        align-self: flex-end;
    }

    footer #mobilWave {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {
    body{
        background-repeat: no-repeat;
        background-image: url(../image/Wave.svg);
        background-size: contain;
        background-position-y: 0;
        background-position-x: 50%;
    }

    #landing-container {
        padding: 40px 20px;

        background: none;
        max-width: 1440px;
        border-radius: 15px;
        box-shadow: 13px 13px 28px 5px #30109965;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
}